* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.footer {
    height: 72px;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
}

button {
    background-color: #3882F6;
    border: none;
    color: #F9FAF8;
    border-radius: 4px;
    padding: 8px 20px;
    font-weight: bold;
}

.section-one,
.section-two,
.section-three,
.section-four {
    width: 100%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    flex: 1;
}

.section-one-wrapper {
    background-color: #1F2937;
    color: #F9FAF8;
}

.section-one-header-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 48px;
}

.section-one-header-left {
    font-weight: 900;
}

.section-one-header-right ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 32px;
}

.section-one-main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 48px;
    padding-bottom: 96px;
    gap: 48px;
}

.section-one-main-left {
    flex: 1;
    margin-left: auto;
    margin-right: auto;
}

.section-one-main-right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-left: auto;
    margin-right: auto;
}

.section-one-main-right img {
    width: 333px;
    height: auto;
}

.section-one-text-big {
    font-size: 48px;
    font-weight: 900;
}

.section-one-text-small {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 8px;
}

.section-two-wrapper {
    padding-top: 48px;
    padding-bottom: 96px;
}

.section-two-header {
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin-bottom: 36px;
}

.section-two-box-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 48px;
    text-align: center;
}

.section-two-box {
    width: 150px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-two-image {
    width: 150px;
    height: 150px;
    margin-bottom: 8px;
}

.section-two-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 4px solid #3882F6;
    border-radius: 12px;
    object-position: bottom;
}

#bus-image {
    object-position: 0%;
}

.section-three-wrapper {
    background-color: #E5E7EB;
    padding-top: 96px;
    padding-bottom: 96px;
}

.section-three-quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}

.section-three-name {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

.section-four {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    margin-top: 96px;
    margin-bottom: 96px;
    padding: 48px;
}

.section-four-text {
    font-size: 16px;
    font-weight: bold;
}

.section-four-text-small {
    font-size: 14px;
    font-weight: 300;
}

.section-four button {
    border: 2px solid #fff;
}
